<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="c">
	<select id="selectAll" resultType="com.got.vo.CategoryVO">
		SELECT * FROM category
	</select>
	
	<select id="selectOne" resultType="com.got.vo.CategoryVO">
		SELECT * FROM category WHERE c_no = #{c_no}
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="c_no" resultType="int" order="BEFORE">
			SELECT c_no.nextval FROM DUAL
		</selectKey>
		INSERT INTO category(c_no, super_no, title, menu_level) 
		VALUES(#{c_no}, #{super_no}, #{title}, #{menu_level})
	</insert>
	
	<update id="updateOne">
		UPDATE category SET super_no = #{super_no}, title = #{title}, menu_level = #{menu_level}
		WHERE c_no = #{c_no}
	</update>
	
	<delete id="deleteOne">
		DELETE category WHERE c_no = #{c_no}
	</delete>
</mapper>