<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="c">
	<select id="selectAll" resultType="com.got.vo.CategoryVO">
		SELECT * FROM category
	</select>
	
	<select id="selectOne" resultType="com.got.vo.CategoryVO">
		SELECT * FROM category WHERE c_no = #{c_no}
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="c_no" resultType="int" order="BEFORE">
			SELECT c_no.nextval FROM DUAL
		</selectKey>
		INSERT INTO category(c_no, parent_no, title, menu_level, in_use) 
		VALUES(#{c_no}, #{parent_no}, #{title}, #{menu_level}, #{in_use})
	</insert>
	
	<update id="updateOne">
		UPDATE category SET parent_no = #{parent_no}, title = #{title}, menu_level = #{menu_level}, in_use = #{in_use}
		WHERE c_no = #{c_no}
	</update>
	
	<delete id="deleteOne">
		DELETE category WHERE c_no = #{c_no}
	</delete>
</mapper>