<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f">
	<insert id="insert">
		<selectKey keyProperty="f_no" resultType="int" order="BEFORE">
			SELECT f_no.nextval FROM DUAL
		</selectKey>
		INSERT INTO files(f_no, save_name, real_name, regdate, save_path) 
		VALUES(#{f_no}, #{save_name}, #{real_name}, sysdate, #{save_path})
	</insert>
	
	<delete id="delete">
		DELETE files WHERE f_no = #{f_no}
	</delete>
</mapper>