<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m">
	<select id="selectAll" resultType="com.got.vo.MemberVO">
		SELECT * FROM member
	</select>
	<select id="selectOneColumn" resultType="com.got.vo.MemberVO">
		SELECT * FROM member WHERE ${column} = #{value}
	</select>
	
	<select id="selectOneWithM_id" resultType="com.got.vo.MemberVO">
		SELECT mg.grade, m.* 
		FROM member_grade mg, (SELECT * FROM member WHERE id = #{id}) m 
		WHERE mg.m_no = m.m_no AND ROWNUM = 1
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="m_no" resultType="int" order="BEFORE" >
			SELECT m_no.nextval FROM DUAL
		</selectKey>
		INSERT INTO member(m_no, id, pwd, name, email, addr) 
		VALUES(#{m_no}, #{id}, #{pwd}, #{name}, #{email}, #{addr})
	</insert>
</mapper>