<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="os">
	<insert id="insert">
		INSERT INTO option_stock(os_no, combination, os_stock, os_extra_cost, g_no)
		VALUES(os_no.nextval, #{combination}, #{os_stock}, #{os_extra_cost}, #{g_no})
	</insert>
	
	<select id="selectWithG_no" resultType="com.got.vo.goods.StockVO">
		SELECT * FROM option_stock WHERE g_no = #{g_no}
	</select>
	
	<select id="selectListWithOS_no" resultType="com.got.vo.goods.StockVO">
		SELECT * FROM option_stock WHERE os_no in
		<foreach collection="list" open="(" close=")" separator="," item="os">#{os.os_no }</foreach>
	</select>
	
	<update id="updateStock">
		UPDATE option_stock SET os_stock = os_stock + #{os_stock} WHERE os_no = #{os_no}
	</update>
</mapper>