<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.got.mapper.ViewMapper">
	<select id="selectListOrder" resultMap="com.got.mapper.deal.PaymentMapper.payWithOrderMap">
		SELECT * FROM order_v 
		<if test="!list.isEmpty">
			WHERE status IN(<foreach collection="list" separator="," item="statusCode">#{statusCode }</foreach>) 
		</if>
		ORDER BY pay_date DESC
	</select>
</mapper>